/*header*/
header.headerPrincipal { margin-bottom:20px; }

/*footer*/
#rodape [class^="ico"]:before,
#rodape [class*=" ico"]:before { display:inline-block; }

#rodape nav ul { padding:16px 0 0; }
#rodape nav ul li a { padding:0 22px 0; margin:0 15px 0 0; }
#rodape nav ul li:before { font-size:28px; color:#a0a0a0; }