<% if !@result_customer.nil? %>
    <% if !@result_customer.empty? %>
        <table class="tableList table-customer">
            <thead>
                <tr>
                    <th class="txtLeft"><a href="#">Nome do cliente</a></th>
                    <th><a href="#">Criado em</a></th>
                    <th><a href="#">Atualizado em</a></th>
                    <th><a href="#">Status</a></th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% @result_customer.each do |item| %>
                <tr>
                    <td class="txtLeft span3"><%= item['name'] %></td>
                    <td><%= item['created_at'] %></td>
                    <td><%= item['updated_at'] %></td>
                    <td><%= item['status'] %></td>
                    <td><a href="/edit/<%= item['id'] %>" class="ico ico-edit">Editar</a></td>
                    <td><a href="/delete/<%= item['id'] %>" class="ico ico-trash">Excluir</a></td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <div class="modal in fade modalSmall" id="modal_delete" role="dialog" aria-labelledby="id_titulo" aria-live="polite">
            <div class="modal-header">
                <button type="button" aria-label="Fechar Modal" class="close" data-dismiss="modal">×</button>
                <h3 class="id_titulo" >Deletar Customer</h3>
            </div>
            <div class="modal-body">
                <p>Você realmente deseja excluir o customer nome?</p>
            </div>
            <div class="modal-footer">
                <form action="" method="POST">
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                    <a href="javascript:;" class="btn" data-dismiss="modal">Fechar</a>
                </form>
            </div>
        </div>
    <% else %>
        Nenhum customer encontrado.
    <% end %>
<% else %>
	Para realizar sua busca, utilize os campos ao lado.
<% end %>