<section class="sideBox">
    <h2 class="titSide titDadosConta">Search customer</h2>
    <div class="innerSideBox boxWhite">
        <form action="/search" method="post" class="simpleFilter noBorder noMargin noPadding">
            <div class="control-group">
                <label>Por</label>
                <select name="customer[select]" id="select" class="input360">
                    <option value="id">ID</option>
                    <option value="name">Nome</option>
                    <option value="status">Status</option>
                </select>
            </div>
            <div class="control-group">
                <label>Valor</label>
                <input type="text" name="customer[value]" id="value" class="searchInput input360" />
            </div>
            <input type="submit" class="btn">
        </form>
    </div>
</section>