<form method="POST" class="simpleFilter noBorder noMargin">
	<div class="control-group">
		<label>Name</label>
		<input type="text" name="customer[name]" class="input360" value="<%= @customer.first['name'] unless @customer.nil? %>">
	</div>
	<div class="control-group">
	<label>Status</label>
		<select name="customer[status]">
			<% if @customer.nil? %>
				<%= status_options("") %>
			<% else %>
				<%= status_options("#{@customer.first['status']}") %>
			<% end %>
		</select>
	</div>
	<input type="submit" class="btn">
</form>

<% @script = "
	$('document').ready(function(){
		application.navOn(1);
	});
"%>