<div class="span12 noMarginLeft">
	<% @title = "Busca Fina" %>
	<hr>
	<%= render :erb, :_table_customer %>
</div>
<div class="span4">
	<%= render :erb, :box_search_customer %>
</div>

<% @script = "
	$('document').ready(function(){
		application.navOn(2);
	});
"%>