<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="Keywords" content="" />
			<meta name="Description" content="" />
	    <title>Cliente</title>

	    <link rel="stylesheet" type="text/css" href="http://developer.locaweb.com.br/assets/0.46.0/locastyle.css">
        <link rel="stylesheet" href="/css/application.css" media="screen" type="text/css" />
    </head>
    <body>
	   <%= render :erb, :'layout/header' %>
    	<div class="limite">
            <h2><%= @title %></h2>
            <%= yield %>
        </div>

        <%= render :erb, :'layout/footer' %>

        <script type="text/javascript" src="http://developer.locaweb.com.br/assets/0.46.0/locastyle.js"></script>
        <script type="text/javascript" src="/script/application.js"></script>
        
    	<script type="text/javascript">
		  	<%= @script %>
		</script>
    </body>
</html>