<footer id="rodape">
    <div class="footerTop">
        <div class="limite">
            <nav>
                <h6>Compartilhe</h6>
                <ul>
                    <li class="ico-facebook"><a href="#">Facebook</a></li>
                    <li class="ico-twitter"><a href="#">Twitter</a></li>
                    <li class="ico-gplus"><a href="#">Google Plus</a></li>
                </ul>
                <a href="#" class="lnkSeta lnkSetaWhite fright">Ver todas as formas de atendimento</a>
            </nav>
        </div>
    </div>
</footer>