<header class="headerPrincipal">
    <menu id="menuPrincipal">
        <ul>
            <li><a href="/">Home Customer</a></li>
            <li><a href="/new">New Customer</a></li>
            <li><a href="/search">Search Customer</a></li>
        </ul>
    </menu>
</header>